In [1]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import date, timedelta

In [2]:
yf.pdr_override()

In [3]:
nasdaq_715_725 = yf.download(tickers='^IXIC', period='1d', interval='1m')
print(nasdaq_715_725['2022-07-25'])

[*********************100%***********************]  1 of 1 completed

KeyError: '2022-07-25'

In [4]:
nasdaq_mon7 = yf.download(tickers='^IXIC', interval='1m', start='2022-06-30', end='2022-7-2')
type(nasdaq_mon7)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: 1m data not available for startTime=1656514800 and endTime=1656687600. The requested range must be within the last 30 days.

pandas.core.frame.DataFrame

In [5]:
for start in pd.date_range('2022-7-2',str(date.today()), freq='D'):
    end = start + timedelta(days=1)
    nasdaq_mon7 = pd.concat([nasdaq_mon7, yf.download(tickers='^IXIC',  interval='1m', start=start, end=end)])

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: 1m data not available for startTime=1656687600 and endTime=1656774000. The requested range must be within the last 30 days.
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: 1m data not available for startTime=1656774000 and endTime=1656860400. The requested range must be within the last 30 days.
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
nasdaq_mon7

,Open,High,Low,Close,Adj Close,Volume
2022-07-05 09:30:00-04:00,10972.223633,10972.223633,10947.469727,10953.396484,10953.396484,0.0
2022-07-05 09:31:00-04:00,10952.701172,10952.701172,10931.684570,10931.684570,10931.684570,24429911.0
2022-07-05 09:32:00-04:00,10932.291016,10932.291016,10913.813477,10914.512695,10914.512695,22995164.0
2022-07-05 09:33:00-04:00,10916.964844,10929.708008,10914.733398,10929.708008,10929.708008,19608577.0
2022-07-05 09:34:00-04:00,10930.785156,10942.095703,10928.589844,10928.589844,10928.589844,19557283.0
...,...,...,...,...,...,...
2022-08-02 10:53:00-04:00,12400.027344,12412.405273,12400.027344,12412.405273,12412.405273,16372000.0
2022-08-02 10:54:00-04:00,12413.704102,12417.948242,12413.704102,12417.948242,12417.948242,13680000.0
2022-08-02 10:55:00-04:00,12416.170898,12418.175781,12405.743164,12405.743164,12405.743164,13477000.0
2022-08-02 10:56:00-04:00,12404.477539,12404.477539,12396.799805,12396.830078,12396.830078,12052000.0
2022-08-02 10:57:02-04:00,12398.066406,12398.066406,12398.066406,12398.066406,12398.066406,0.0

In [67]:
# 7월 데이터 저장하기
for day in pd.date_range('2022-7-1',str(date.today()), freq='D'):
    day_str = day.strftime('2022-%m-%d')
    nasdaq = nasdaq_mon7[day_str] 
    nasdaq.to_csv(f"./YfinanceData/nasdaq_{day_str}.csv", mode='w')

In [ ]:
# 데이터 동기화
today_str =