In [28]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import date, timedelta, datetime

In [29]:
yf.pdr_override()

In [32]:
nasdaq_715_725 = yf.download(tickers='^IXIC', period='1d', interval='1m')

[*********************100%***********************]  1 of 1 completed

In [33]:
start = date.today() - timedelta(days=29)
end = date.today() - timedelta(days=27)
nasdaq_mon7 = yf.download(tickers='^IXIC', interval='1m', start=start, end=end)
nasdaq_mon7

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-07-05 09:30:00-04:00,10972.223633,10972.223633,10947.469727,10953.396484,10953.396484,0
2022-07-05 09:31:00-04:00,10952.701172,10952.701172,10931.684570,10931.684570,10931.684570,24429911
2022-07-05 09:32:00-04:00,10932.291016,10932.291016,10913.813477,10914.512695,10914.512695,22995164
2022-07-05 09:33:00-04:00,10916.964844,10929.708008,10914.733398,10929.708008,10929.708008,19608577
2022-07-05 09:34:00-04:00,10930.785156,10942.095703,10928.589844,10928.589844,10928.589844,19557283
...,...,...,...,...,...,...
2022-07-06 10:55:00-04:00,11328.699219,11328.699219,11316.646484,11317.073242,11317.073242,9885000
2022-07-06 10:56:00-04:00,11318.747070,11320.680664,11316.862305,11320.090820,11320.090820,8309000
2022-07-06 10:57:00-04:00,11321.403320,11324.514648,11321.403320,11323.892578,11323.892578,9489000
2022-07-06 10:58:00-04:00,11326.482422,11329.928711,11322.884766,11329.396484,11329.396484,10280000
2022-07-06 10:59:00-04:00,11330.851562,11337.125977,11330.851562,11332.660156,11332.660156,11039000

In [34]:
for day in pd.date_range(start ,str(date.today()), freq='D'):
    end = day + timedelta(days=1)
    nasdaq_mon7 = pd.concat([nasdaq_mon7, yf.download(tickers='^IXIC',  interval='1m', start=day, end=end)])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [35]:
nasdaq_mon7.loc['2022-08-02']

,Open,High,Low,Close,Adj Close,Volume
2022-08-02 09:30:00-04:00,12290.711914,12297.255859,12284.547852,12284.547852,12284.547852,0.0
2022-08-02 09:31:00-04:00,12287.061523,12309.956055,12285.562500,12309.956055,12309.956055,22817242.0
2022-08-02 09:32:00-04:00,12318.607422,12318.607422,12299.384766,12302.714844,12302.714844,19090907.0
2022-08-02 09:33:00-04:00,12312.714844,12328.795898,12312.714844,12328.795898,12328.795898,19588747.0
2022-08-02 09:34:00-04:00,12330.271484,12331.286133,12314.614258,12322.658203,12322.658203,20202815.0
...,...,...,...,...,...,...
2022-08-02 11:23:00-04:00,12357.559570,12365.642578,12357.559570,12365.379883,12365.379883,6072000.0
2022-08-02 11:24:00-04:00,12366.586914,12369.695312,12366.317383,12368.720703,12368.720703,7682000.0
2022-08-02 11:25:00-04:00,12368.544922,12376.412109,12368.544922,12376.412109,12376.412109,7552000.0
2022-08-02 11:26:00-04:00,12380.526367,12386.919922,12380.017578,12386.919922,12386.919922,9661000.0
2022-08-02 11:27:24-04:00,12383.034180,12383.034180,12383.034180,12383.034180,12383.034180,0.0

In [36]:
# 7월 데이터 저장하기
for day in pd.date_range(start ,str(date.today()), freq='D'):
    day_str = day.strftime('2022-%m-%d')
    nasdaq = nasdaq_mon7[day_str] 
    nasdaq.to_csv(f"./YfinanceData/nasdaq_{day_str}.csv", mode='w')

In [38]:
# 데이터 동기화
today_str = (date.today() - timedelta(days=1)).strftime('%Y-%m-%d')
today_nasdaq = pd.read_csv(f"./YfinanceData/nasdaq_{today_str}.csv")
realtime_nasdaq = yf.download(tickers='^IXIC', interval='1m', period='1d')
realtime_nasdaq.to_csv(f"./YfinanceData/nasdaq_{today_str}.csv")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-08-02 09:30:00-04:00,12290.711914,12297.255859,12284.547852,12284.547852,12284.547852,0
2022-08-02 09:31:00-04:00,12287.061523,12309.956055,12285.562500,12309.956055,12309.956055,22817242
2022-08-02 09:32:00-04:00,12318.607422,12318.607422,12299.384766,12302.714844,12302.714844,19090907
2022-08-02 09:33:00-04:00,12312.714844,12328.795898,12312.714844,12328.795898,12328.795898,19588747
2022-08-02 09:34:00-04:00,12330.271484,12331.286133,12314.614258,12322.658203,12322.658203,20202815
...,...,...,...,...,...,...
2022-08-02 11:28:00-04:00,12383.922852,12386.541016,12381.692383,12386.541016,12386.541016,7299000
2022-08-02 11:29:00-04:00,12386.369141,12390.323242,12384.754883,12388.333008,12388.333008,7263000
2022-08-02 11:30:00-04:00,12388.288086,12388.667969,12373.282227,12374.136719,12374.136719,8849000
2022-08-02 11:31:00-04:00,12371.669922,12371.669922,12355.441406,12356.813477,12356.813477,10140000
2022-08-02 11:32:42-04:00,12363.306641,12363.306641,12363.306641,12363.306641,12363.306641,0