In [2]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import date, timedelta, datetime

In [3]:
yf.pdr_override()

In [4]:
nasdaq_715_725 = yf.download(tickers='^IXIC', period='1d', interval='1m')

[*********************100%***********************]  1 of 1 completed

In [5]:
start = date.today() - timedelta(days=29)
end = date.today() - timedelta(days=27)
nasdaq_mon7 = yf.download(tickers='TQQQ', interval='1m', start=start, period='1d') #^IXIC 나스닥
nasdaq_mon7

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQQQ: 1m data not available for startTime=1657033200 and endTime=1659587353. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [6]:
for day in pd.date_range(start ,str(date.today()), freq='D'):
    end = day + timedelta(days=1)
    nasdaq_mon7 = pd.concat([nasdaq_mon7, yf.download(tickers='TQQQ',  interval='1m', start=day, end=end)])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQQQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQQQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQQQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQQQ: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
nasdaq_mon7.to_csv(f"./YfinanceData/TQQQ/tqqq.csv", mode='w')

In [8]:
# 7월 데이터 저장하기
for day in pd.date_range(start ,str(date.today()), freq='D'):
    day_str = day.strftime('2022-%m-%d')
    nasdaq = nasdaq_mon7[day_str] 
    nasdaq.to_csv(f"./YfinanceData/TQQQ/tqqq_{day_str}.csv", mode='w')

In [9]:
# 데이터 동기화
today_str = (date.today() - timedelta(days=1)).strftime('%Y-%m-%d')
today_nasdaq = pd.read_csv(f"./YfinanceData/TQQQ/tqqq_{today_str}.csv")
realtime_nasdaq = yf.download(tickers='TQQQ', interval='1m', period='1d')
realtime_nasdaq.to_csv(f"./YfinanceData/TQQQ/tqqq_{today_str}.csv")

[*********************100%***********************]  1 of 1 completed

In [10]:
today_str = (datetime.now() - timedelta(hours=13)).strftime('%Y-%m-%d %H:%M:%S')
today_str

'2022-08-04 00:29:23'

In [11]:
realtime_nasdaq

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-08-03 09:30:00-04:00,33.549999,33.799999,33.520000,33.789902,33.789902,5888495
2022-08-03 09:31:00-04:00,33.779999,33.840000,33.750000,33.810001,33.810001,685734
2022-08-03 09:33:00-04:00,34.000000,34.029999,33.980000,33.980000,33.980000,3001319
2022-08-03 09:34:00-04:00,34.000000,34.029999,33.840000,33.900101,33.900101,957175
2022-08-03 09:35:00-04:00,33.879902,33.955002,33.879902,33.900002,33.900002,882165
...,...,...,...,...,...,...
2022-08-03 15:56:00-04:00,35.779999,35.799999,35.750000,35.764198,35.764198,232179
2022-08-03 15:57:00-04:00,35.759998,35.759998,35.689999,35.689999,35.689999,398521
2022-08-03 15:58:00-04:00,35.680000,35.720001,35.630001,35.670101,35.670101,541605
2022-08-03 15:59:00-04:00,35.680000,35.700001,35.610001,35.655499,35.655499,956318
2022-08-03 16:00:00-04:00,35.639999,35.639999,35.639999,35.639999,35.639999,0

In [12]:
help('yfinance')

Help on package yfinance:

NAME
    yfinance

DESCRIPTION
    # -*- coding: utf-8 -*-
    #
    # yfinance - market data downloader
    # https://github.com/ranaroussi/yfinance
    #
    # Copyright 2017-2019 Ran Aroussi
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #     http://www.apache.org/licenses/LICENSE-2.0
    #
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    #

PACKAGE CONTENTS
    base
    multi
    shared
    ticker
    tickers
    utils
    version

CLASSES
    builtins.object
        yfinance.tickers.Tickers
    yfinance.base.TickerBase(builtins.object)
        yfinance.ticker.Ticker

    class Ticker(yfinance.base.TickerBase)
     |  Ticker(ticker, session=None)
     |
     |  Method resolution order:
     |      Ticker
     |      yfinance.base.TickerBase
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  option_chain(self, date=None, proxy=None, tz=None)
     |
     |  ----------------------------------------------------------------------
     |  Readonly properties defined here:
     |
     |  actions
     |
     |  analysis
     |
     |  balance_sheet
     |
     |  balancesheet
     |
     |  calendar
     |
     |  cashflow
     |
     |  dividends
     |
     |  earnings
     |
     |  earnings_dates
     |
     |  earnings_history
     |
     |  financials
     |
     |  info
     |
     |  institutional_holders
     |
     |  isin
     |
     |  major_holders
     |
     |  mutualfund_holders
     |
     |  news
     |
     |  options
     |
     |  quarterly_balance_sheet
     |
     |  quarterly_balancesheet
     |
     |  quarterly_cashflow
     |
     |  quarterly_earnings
     |
     |  quarterly_financials
     |
     |  recommendations
     |
     |  shares
     |
     |  splits
     |
     |  sustainability
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from yfinance.base.TickerBase:
     |
     |  __init__(self, ticker, session=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  get_actions(self, proxy=None)
     |
     |  get_analysis(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_balance_sheet(self, proxy=None, as_dict=False, freq='yearly')
     |
     |  get_balancesheet(self, proxy=None, as_dict=False, freq='yearly')
     |
     |  get_calendar(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_cashflow(self, proxy=None, as_dict=False, freq='yearly')
     |
     |  get_dividends(self, proxy=None)
     |
     |  get_earnings(self, proxy=None, as_dict=False, freq='yearly')
     |
     |  get_earnings_dates(self, proxy=None)
     |
     |  get_earnings_history(self, proxy=None)
     |
     |  get_financials(self, proxy=None, as_dict=False, freq='yearly')
     |
     |  get_info(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_institutional_holders(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_isin(self, proxy=None)
     |
     |  get_major_holders(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_mutualfund_holders(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_news(self, proxy=None)
     |
     |  get_recommendations(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_shares(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  get_splits(self, proxy=None)
     |
     |  get_sustainability(self, proxy=None, as_dict=False, *args, **kwargs)
     |
     |  history(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, back_adjust=False, proxy=None, rounding=False, tz=None, timeout=None, **kwargs)
     |      :Parameters:
     |          period : str
     |              Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
     |              Either Use period parameter or use start and end
     |          interval : str
     |              Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
     |              Intraday data cannot extend last 60 days
     |          start: str
     |              Download start date string (YYYY-MM-DD) or _datetime.
     |              Default is 1900-01-01
     |          end: str
     |              Download end date string (YYYY-MM-DD) or _datetime.
     |              Default is now
     |          prepost : bool
     |              Include Pre and Post market data in results?
     |              Default is False
     |          auto_adjust: bool
     |              Adjust all OHLC automatically? Default is True
     |          back_adjust: bool
     |              Back-adjusted data to mimic true historical prices
     |          proxy: str
     |              Optional. Proxy server URL scheme. Default is None
     |          rounding: bool
     |              Round values to 2 decimal places?
     |              Optional. Default is False = precision suggested by Yahoo!
     |          tz: str
     |              Optional timezone locale for dates.
     |              (default data is returned as non-localized dates)
     |          timeout: None or float
     |              If not None stops waiting for a response after given number of
     |              seconds. (Can also be a fraction of a second e.g. 0.01)
     |              Default is None.
     |          **kwargs: dict
     |              debug: bool
     |                  Optional. If passed as False, will suppress
     |                  error message printing to console.
     |
     |  stats(self, proxy=None)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from yfinance.base.TickerBase:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Tickers(builtins.object)
     |  Tickers(tickers, session=None)
     |
     |  Methods defined here:
     |
     |  __init__(self, tickers, session=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  download(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, proxy=None, threads=True, group_by='column', progress=True, timeout=None, **kwargs)
     |
     |  history(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, proxy=None, threads=True, group_by='column', progress=True, timeout=None, **kwargs)
     |
     |  news(self)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

FUNCTIONS
    download(tickers, start=None, end=None, actions=False, threads=True, group_by='column', auto_adjust=False, back_adjust=False, progress=True, period='max', show_errors=True, interval='1d', prepost=False, proxy=None, rounding=False, timeout=None, **kwargs)
        Download yahoo tickers
        :Parameters:
            tickers : str, list
                List of tickers to download
            period : str
                Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
                Either Use period parameter or use start and end
            interval : str
                Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
                Intraday data cannot extend last 60 days
            start: str
                Download start date string (YYYY-MM-DD) or _datetime.
                Default is 1900-01-01
            end: str
                Download end date string (YYYY-MM-DD) or _datetime.
                Default is now
            group_by : str
                Group by 'ticker' or 'column' (default)
            prepost : bool
                Include Pre and Post market data in results?
                Default is False
            auto_adjust: bool
                Adjust all OHLC automatically? Default is False
            actions: bool
                Download dividend + stock splits data. Default is False
            threads: bool / int
                How many threads to use for mass downloading. Default is True
            proxy: str
                Optional. Proxy server URL scheme. Default is None
            rounding: bool
                Optional. Round values to 2 decimal places?
            show_errors: bool
                Optional. Doesn't print errors if False
            timeout: None or float
                If not None stops waiting for a response after given number of
                seconds. (Can also be a fraction of a second e.g. 0.01)

    pdr_override()
        make pandas datareader optional
        otherwise can be called via fix_yahoo_finance.download(...)

DATA
    __all__ = ['download', 'Ticker', 'Tickers', 'pdr_override']

VERSION
    0.1.74

AUTHOR
    Ran Aroussi

FILE
    c:\users\jungsuplim\anaconda3\envs\cuda\lib\site-packages\yfinance\__init__.py

In [13]:
nasdaq_mon7.at_time('15:59')

,Open,High,Low,Close,Adj Close,Volume
2022-07-05 15:59:00-04:00,25.605000,25.680000,25.590000,25.674999,25.674999,776038.0
2022-07-06 15:59:00-04:00,26.090000,26.139999,26.049999,26.129299,26.129299,1100196.0
2022-07-07 15:59:00-04:00,27.840000,27.860001,27.760000,27.799999,27.799999,1186461.0
2022-07-08 15:59:00-04:00,27.940001,27.945000,27.850000,27.910000,27.910000,690465.0
2022-07-11 15:59:00-04:00,26.035000,26.100000,26.000000,26.084999,26.084999,1089892.0
2022-07-12 15:59:00-04:00,25.340000,25.379999,25.299999,25.340000,25.340000,1145746.0
2022-07-13 15:59:00-04:00,25.320000,25.320000,25.180000,25.190001,25.190001,635798.0
2022-07-14 15:59:00-04:00,25.450001,25.459999,25.360100,25.450001,25.450001,874461.0
2022-07-15 15:59:00-04:00,26.764999,26.850000,26.760000,26.809999,26.809999,1482761.0
2022-07-18 15:59:00-04:00,26.125000,26.190001,26.090000,26.132299,26.132299,900606.0
2022-07-19 15:59:00-04:00,28.530001,28.600000,28.490000,28.520000,28.520000,1207787.0
2022-07-20 15:59:00-04:00,29.860001,29.915001,29.820000,29.889999,29.889999,549758.0
2022-07-21 15:59:00-04:00,31.139999,31.174999,31.090000,31.170099,31.170099,882100.0
2022-07-22 15:59:00-04:00,29.450001,29.549999,29.440001,29.520800,29.520800,1149237.0
2022-07-25 15:59:00-04:00,28.969999,29.059999,28.969999,29.030001,29.030001,638581.0
2022-07-26 15:59:00-04:00,27.254999,27.367399,27.250000,27.280001,27.280001,902487.0
2022-07-27 15:59:00-04:00,30.815001,30.820000,30.730000,30.740000,30.740000,1410826.0
2022-07-28 15:59:00-04:00,31.639999,31.660000,31.584999,31.639999,31.639999,1043913.0
2022-07-29 15:59:00-04:00,33.355000,33.410000,33.330002,33.360001,33.360001,1146850.0
2022-08-01 15:59:00-04:00,33.290001,33.334999,33.260101,33.299999,33.299999,678167.0
2022-08-02 15:59:00-04:00,32.985001,33.044998,32.974998,32.985001,32.985001,807475.0
2022-08-03 15:59:00-04:00,35.680000,35.700001,35.610001,35.655499,35.655499,956318.0

In [14]:
start = date.today() - timedelta(days=90)
data = yf.download(tickers='TQQQ', interval='1d', start=start) #^IXIC 나스닥
data.to_csv(f"./YfinanceData/1d/tqqq.csv", mode='w')

[*********************100%***********************]  1 of 1 completed

In [20]:
tqqq = pd.read_csv('./YfinanceData/TQQQ/tqqq.csv', index_col=0, parse_dates=True)
tqqq[300:].to_csv('./YfinanceData/TQQQ/tqqq.csv', mode='w')

In [22]:
df = pd.read_csv('./YfinanceData/TQQQ/tqqq.csv', index_col=0, parse_dates=True)
df.index.names = ['DATE']
df

,Open,High,Low,Close,Adj Close,Volume
DATE,,,,,,
2022-07-06 09:30:00-04:00,25.770000,25.889999,25.660000,25.678699,25.678699,8286915.0
2022-07-06 09:31:00-04:00,25.670000,25.870001,25.620001,25.770000,25.770000,1091168.0
2022-07-06 09:32:00-04:00,25.775000,26.129999,25.760000,26.020000,26.020000,2589504.0
2022-07-06 09:33:00-04:00,26.100100,26.105000,26.025000,26.025000,26.025000,1366361.0
2022-07-06 09:34:00-04:00,26.000000,26.049900,25.844999,25.885000,25.885000,1321383.0
...,...,...,...,...,...,...
2022-08-03 15:56:00-04:00,35.779999,35.799999,35.750000,35.764198,35.764198,232179.0
2022-08-03 15:57:00-04:00,35.759998,35.759998,35.689999,35.689999,35.689999,398521.0
2022-08-03 15:58:00-04:00,35.680000,35.720001,35.630001,35.670101,35.670101,541605.0
2022-08-03 15:59:00-04:00,35.680000,35.700001,35.610001,35.655499,35.655499,956318.0
2022-08-03 16:00:00-04:00,35.639999,35.639999,35.639999,35.639999,35.639999,0.0