In [31]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import date, timedelta

In [2]:
yf.pdr_override()

In [38]:
nasdaq_715_725 = yf.download(tickers='^IXIC', period='1d', interval='1m')
print(nasdaq_715_725['2022-07-25'])

[*********************100%***********************]  1 of 1 completed
                                   Open          High           Low  \
Datetime
2022-07-25 09:30:00-04:00  11841.521484  11844.496094  11838.827148
2022-07-25 09:31:00-04:00  11844.193359  11845.971680  11833.789062
2022-07-25 09:32:00-04:00  11839.645508  11853.053711  11839.645508
2022-07-25 09:33:00-04:00  11848.487305  11848.487305  11840.165039
2022-07-25 09:34:00-04:00  11845.081055  11850.145508  11823.163086
...                                 ...           ...           ...
2022-07-25 15:56:00-04:00  11771.388672  11775.694336  11771.388672
2022-07-25 15:57:00-04:00  11776.299805  11777.648438  11769.859375
2022-07-25 15:58:00-04:00  11772.072266  11776.572266  11772.072266
2022-07-25 15:59:00-04:00  11776.871094  11785.538086  11776.871094
2022-07-25 16:00:00-04:00  11782.666016  11782.666016  11782.666016

                                  Close     Adj Close    Volume
Datetime
2022-07-25 09:30:00-04:00  11842.318359  11842.318359         0
2022-07-25 09:31:00-04:00  11842.582031  11842.582031  23208924
2022-07-25 09:32:00-04:00  11850.073242  11850.073242  21096557
2022-07-25 09:33:00-04:00  11843.888672  11843.888672  18944674
2022-07-25 09:34:00-04:00  11825.589844  11825.589844  18386400
...                                 ...           ...       ...
2022-07-25 15:56:00-04:00  11775.694336  11775.694336  32749000
2022-07-25 15:57:00-04:00  11772.001953  11772.001953  14079000
2022-07-25 15:58:00-04:00  11776.572266  11776.572266  28701000
2022-07-25 15:59:00-04:00  11780.302734  11780.302734  38590000
2022-07-25 16:00:00-04:00  11782.666016  11782.666016         0

[391 rows x 6 columns]

/var/folders/f1/8sqqkq8j0dz3jtkx0lnjdy080000gn/T/ipykernel_5952/168322597.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(nasdaq_715_725['2022-07-25'])

In [60]:
nasdaq_mon7 = yf.download(tickers='^IXIC', interval='1m', start='2022-06-30', end='2022-7-2')
type(nasdaq_mon7)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [63]:
for start in pd.date_range('2022-7-2',str(date.today()), freq='D'):
    end = start + timedelta(days=1)
    nasdaq_mon7 = pd.concat([nasdaq_mon7, yf.download(tickers='^IXIC',  interval='1m', start=start, end=end)])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^IXIC: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [64]:
nasdaq_mon7

,Open,High,Low,Close,Adj Close,Volume
2022-06-29 11:00:00-04:00,11179.314453,11181.069336,11176.038086,11179.521484,11179.521484,0.0
2022-06-29 11:01:00-04:00,11180.568359,11180.568359,11171.231445,11171.231445,11171.231445,5140000.0
2022-06-29 11:02:00-04:00,11170.375977,11174.701172,11169.612305,11169.612305,11169.612305,21725000.0
2022-06-29 11:03:00-04:00,11168.383789,11171.644531,11167.313477,11171.187500,11171.187500,17558000.0
2022-06-29 11:04:00-04:00,11172.437500,11172.437500,11165.149414,11165.149414,11165.149414,10036000.0
...,...,...,...,...,...,...
2022-07-25 15:56:00-04:00,11771.388672,11775.694336,11771.388672,11775.694336,11775.694336,32749000.0
2022-07-25 15:57:00-04:00,11776.299805,11777.648438,11769.859375,11772.001953,11772.001953,14079000.0
2022-07-25 15:58:00-04:00,11772.072266,11776.572266,11772.072266,11776.572266,11776.572266,28701000.0
2022-07-25 15:59:00-04:00,11776.871094,11785.538086,11776.871094,11780.302734,11780.302734,38590000.0
2022-07-25 16:00:00-04:00,11782.666016,11782.666016,11782.666016,11782.666016,11782.666016,0.0

In [67]:
# 7월 데이터 저장하기
for day in pd.date_range('2022-7-1',str(date.today()), freq='D'):
    day_str = day.strftime('2022-%m-%d')
    nasdaq = nasdaq_mon7[day_str] 
    nasdaq.to_csv(f"./YfinanceData/nasdaq_{day_str}.csv", mode='w')